
Server/Service/Service/Service.cs
Server/Service/BL/obj/Debug/BL.csprojAssemblyReference.cache
*.ide-shm
*.lref
*.lref
*.lref
Client/Client/.vs/Client/v15/Server/sqlite3/storage.ide-shm
Client/Client/.vs/Client/v15/Server/sqlite3/storage.ide-wal
Client/Client/Form/obj/Debug/AdminUserPage.baml
Client/Client/Form/obj/Debug/App.baml
Client/Client/Form/obj/Debug/Dialogs/ExitDialog.baml
Client/Client/Form/obj/Debug/Dialogs/ForceQuit.baml
Client/Client/Form/obj/Debug/Dialogs/SwitchColor.baml
Client/Client/Form/obj/Debug/Form.csproj.CoreCompileInputs.cache
Client/Client/Form/obj/Debug/Form.csprojAssemblyReference.cache
Client/Client/Form/obj/Debug/Form_MarkupCompile.cache
Client/Client/Form/obj/Debug/Form_MarkupCompile.lref
Client/Client/Form/obj/Debug/GamePage.baml
Client/Client/Form/obj/Debug/LoadingPage.baml
Client/Client/Form/obj/Debug/Login.baml
Client/Client/Form/obj/Debug/LoginMenu.baml
Client/Client/Form/obj/Debug/MainMenu.baml
Client/Client/Form/obj/Debug/MainWindow.baml
Client/Client/Form/obj/Debug/MenuPage.baml
Client/Client/Form/obj/Debug/Register.baml
Client/Client/Form/obj/Debug/SettingsPage.baml
Client/Client/Form/obj/Debug/UserControls/Player1UC.baml
Client/Client/Form/obj/Debug/UserControls/Player2UC.baml
Client/Client/Form/obj/Debug/UserControls/Player3UC.baml
Client/Client/Form/obj/Debug/UserControls/Player4UC.baml
Client/Client/Form/obj/Debug/UserControls/TableUC.baml
Client/Client/Form/obj/Debug/UserPage.baml
Server/Service/.vs/Service/v15/Server/sqlite3/storage.ide-shm
Server/Service/.vs/Service/v15/Server/sqlite3/storage.ide-wal
Server/Service/BusinessLayer/obj/Debug/BusinessLayer.csproj.CoreCompileInputs.cache
Server/Service/BusinessLayer/obj/Debug/BusinessLayer.csprojAssemblyReference.cache
Server/Service/Host/obj/Debug/Host.csproj.CoreCompileInputs.cache
Server/Service/Host/obj/Debug/Host.csprojAssemblyReference.cache
Server/Service/Host/obj/Debug/Host_MarkupCompile.cache
Server/Service/Host/obj/Debug/Host_MarkupCompile.lref
Server/Service/Host/obj/Debug/MainWindow.baml
Server/Service/Model/obj/Debug/Model.csproj.CoreCompileInputs.cache
Server/Service/Model/obj/Debug/Model.csprojAssemblyReference.cache
Server/Service/Service/obj/Debug/Service.csproj.CoreCompileInputs.cache
Server/Service/Service/obj/Debug/Service.csprojAssemblyReference.cache
Server/Service/ViewModel/obj/Debug/ViewModel.csproj.CoreCompileInputs.cache
Server/Service/ViewModel/obj/Debug/ViewModel.csprojAssemblyReference.cache
Client/Client/.vs/Client/v15/Server/sqlite3/storage.ide-shm
Client/Client/Form/GamePage.xaml.cs
Client/Client/Form/obj/Debug/AdminUserPage.baml
Client/Client/Form/obj/Debug/App.baml
Client/Client/Form/obj/Debug/Dialogs/ExitDialog.baml
Client/Client/Form/obj/Debug/Dialogs/ForceQuit.baml
Client/Client/Form/obj/Debug/Dialogs/SwitchColor.baml
Client/Client/Form/obj/Debug/Form.csproj.CoreCompileInputs.cache
Client/Client/Form/obj/Debug/Form.csprojAssemblyReference.cache
Client/Client/Form/obj/Debug/Form_MarkupCompile.cache
Client/Client/Form/obj/Debug/Form_MarkupCompile.lref
Client/Client/Form/obj/Debug/GamePage.baml
Client/Client/Form/obj/Debug/LoadingPage.baml
Client/Client/Form/obj/Debug/Login.baml
Client/Client/Form/obj/Debug/LoginMenu.baml
Client/Client/Form/obj/Debug/MainMenu.baml
Client/Client/Form/obj/Debug/MainWindow.baml
Client/Client/Form/obj/Debug/MenuPage.baml
Client/Client/Form/obj/Debug/Register.baml
Client/Client/Form/obj/Debug/SettingsPage.baml
Client/Client/Form/obj/Debug/UserControls/Player1UC.baml
Client/Client/Form/obj/Debug/UserControls/Player2UC.baml
Client/Client/Form/obj/Debug/UserControls/Player3UC.baml
Client/Client/Form/obj/Debug/UserControls/Player4UC.baml
Client/Client/Form/obj/Debug/UserControls/TableUC.baml
Client/Client/Form/obj/Debug/UserPage.baml
Server/Service/.vs/Service/v15/.suo
Server/Service/.vs/Service/v15/Server/sqlite3/storage.ide-shm
Server/Service/.vs/Service/v15/Server/sqlite3/storage.ide-wal
Server/Service/BusinessLayer/bin/Debug/BusinessLayer.dll
Server/Service/BusinessLayer/bin/Debug/BusinessLayer.pdb
Server/Service/BusinessLayer/bin/Debug/Database.accdb
Server/Service/BusinessLayer/bin/Debug/ViewModel.dll
Server/Service/BusinessLayer/bin/Debug/ViewModel.pdb
Server/Service/BusinessLayer/obj/Debug/BusinessLayer.csproj.CoreCompileInputs.cache
Server/Service/BusinessLayer/obj/Debug/BusinessLayer.csprojAssemblyReference.cache
Server/Service/BusinessLayer/obj/Debug/BusinessLayer.dll
Server/Service/BusinessLayer/obj/Debug/BusinessLayer.pdb
Server/Service/Host/bin/Debug/BusinessLayer.dll
Server/Service/Host/bin/Debug/BusinessLayer.pdb
Server/Service/Host/bin/Debug/Database.accdb
Server/Service/Host/bin/Debug/Host.exe
Server/Service/Host/bin/Debug/Host.pdb
Server/Service/Host/bin/Debug/Service.dll
Server/Service/Host/bin/Debug/Service.pdb
Server/Service/Host/bin/Debug/ViewModel.dll
Server/Service/Host/bin/Debug/ViewModel.pdb
Server/Service/Host/obj/Debug/Host.csproj.CoreCompileInputs.cache
Server/Service/Host/obj/Debug/Host.csproj.GenerateResource.cache
Server/Service/Host/obj/Debug/Host.csprojAssemblyReference.cache
Server/Service/Host/obj/Debug/Host.exe
Server/Service/Host/obj/Debug/Host.pdb
Server/Service/Host/obj/Debug/Host_MarkupCompile.cache
Server/Service/Host/obj/Debug/Host_MarkupCompile.lref
Server/Service/Model/obj/Debug/Model.csproj.CoreCompileInputs.cache
Server/Service/Model/obj/Debug/Model.csprojAssemblyReference.cache
Server/Service/Service/bin/Debug/BusinessLayer.dll
Server/Service/Service/bin/Debug/BusinessLayer.pdb
Server/Service/Service/bin/Debug/Service.dll
Server/Service/Service/bin/Debug/Service.pdb
Server/Service/Service/bin/Debug/ViewModel.dll
Server/Service/Service/bin/Debug/ViewModel.pdb
Server/Service/Service/obj/Debug/Service.csproj.CoreCompileInputs.cache
Server/Service/Service/obj/Debug/Service.csprojAssemblyReference.cache
Server/Service/Service/obj/Debug/Service.dll
Server/Service/Service/obj/Debug/Service.pdb
Server/Service/ViewModel/bin/Debug/ViewModel.dll
Server/Service/ViewModel/bin/Debug/ViewModel.pdb
Server/Service/ViewModel/obj/Debug/ViewModel.csproj.CoreCompileInputs.cache
Server/Service/ViewModel/obj/Debug/ViewModel.csprojAssemblyReference.cache
Server/Service/ViewModel/obj/Debug/ViewModel.dll
Server/Service/ViewModel/obj/Debug/ViewModel.pdb
