<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.140.132:8733/Design_Time_Addresses/Service/Service/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="TakiService.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>